<div class="">
  <!-- Dropdown button -->
  <div class="relative inline-block text-left">
      <button id="dropdown-btn" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-2 py-0.5 bg-slate-200 text-sm font-bold text-black hover:bg-gray-50 focus:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
        ⋮
      </button>

      <!-- Dropdown menu -->
      <div id="dropdown-menu" class="overflow-hidden hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-btn">
          <div class="" role="none">
              <button id="<%= friendshipStatus %>" class="block w-full px-4 py-2 font-bold text-sm text-white bg-red-500 text-center" role="menuitem">
                <% if(friendshipStatus === 'Requested') { %>
                  Cancel friend request
                <% } else if (friendshipStatus === '✓ Friend') { %>
                  Remove friend
                <% } %>
              </button>
          </div>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const dropdownBtn = document.getElementById('dropdown-btn');
      const dropdownMenu = document.getElementById('dropdown-menu');

      dropdownBtn.addEventListener('click', function() {
          dropdownMenu.classList.toggle('hidden');
      });

      // Close dropdown menu when clicking outside
      document.addEventListener('click', function(event) {
          if (!dropdownBtn.contains(event.target)) {
              dropdownMenu.classList.add('hidden');
          }
      });
  });

  document.getElementById('<%= friendshipStatus %>').addEventListener('click', async function(event) {
    if('<%= friendshipStatus %>' === 'Requested'){
      const response = await fetch(`/profile/<%= displayedUser._id %>/cancel-request`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ friendId: '<%= displayedUser._id %>' }), 
      });
      
      if (response.ok) {
        // Update the UI based on the response
      const responseData = await response.json();
        if (responseData.success === true){
          window.location.reload();
        }
      };
    }
    if('<%= friendshipStatus%>' === '✓ Friend'){
      const response = await fetch(`/profile/<%= displayedUser._id %>/remove-friend`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ friendId: '<%= displayedUser._id %>' }), 
      });
      if (response.ok) {
        // Update the UI based on the response
      const responseData = await response.json();
        if (responseData.success === true){
          window.location.reload();
        }
      };
    }
  });
</script>