
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>noteblndr</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <% if (user) {%>
    <%- include('create-note-button') %>
    <%- include('header')%>
    <div class="flex justify-center items-center p-4 pt-0 sm:items-start sm:grid sm:grid-cols-3 sm:grid-rows-1 sm:gap-2 lg:grid-cols-4 h-full relative z-10">
      <div class="hidden sm:block col-span-1 sticky top-14 left-0 right-0 pl-2 pt-4 max-h-dvh">
        <div>
          <h2 class="text-start font-bold text-md">Recommended users</h2>
          <div class="px-2 max-h-64 overflow-y-scroll">
            <% Array.from(recommendedUsers).forEach(function (recommendedUser) { %>
              <%- include('user-card', { displayedUser: recommendedUser })%>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-3 w-full sm:max-w-sm md:max-w-md m-auto">
        <div class="mt-3">
          <a href='/profile/<%= user._id %>' class="w-full text-start text-md">Hi, @<%= user.username %>!</a>
          <p class="mt-2 w-full text-start text-sm">See the last notes:</p>
        </div>
        <% Array.from(notes).forEach(function (note) { %>
          <%- include('note' , { note: note , formatDate: formatDate }) %>
        <% }); %>
        <p class="mt-5 mb-5 w-full text-center text-sm">You've reached the end, no more notes over here...</p>
      </div>
    </div>
  <% } else { %>
    <%- include('login-form', { req: req , invalidLogin: false}) %>
  <%}%>
  <script type="text/javascript">
    const likeNoteButtons = document.getElementsByClassName('like-note-button');
    for(let button of likeNoteButtons){
      button.addEventListener('click', ()=>{
        button.classList.toggle('bg-slate-200');
        button.classList.toggle('shadow-sm');
        button.classList.toggle('shadow-lg');
        button.textContent = (button.textContent === '🖤')? '🤍' : '🖤';
      });
    };
  </script>
</body>
</html>


