<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- userData.username %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1 class="w-full font-bold text-center text-xl">@<%- userData.username %></h1>
    <h1 class="mt-2 w-full text-center text-md">Mirá las notas de <%- userData.username %>:</h1>
    <% Array.from(notes).forEach(function (note) { %>
      <%- include('note' , { note: note , formatDate: formatDate }) %>
    <% }); %>
  </div>
</body>
</html>